$blue-marin: rgb(15, 22, 38);
$golden-color: rgb(214, 159, 62);
$Bright-coral: rgb(245, 50, 64);

// font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

.about-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.about-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    width: 60%;

    .about-title {
      display: flex;
      justify-content: flex-start;
      width: 80%;

      h1 {
        font-family: $font-teko;
        color: $Bright-coral;
        font-size: 2em;
      }
    }

    .about-me {
      width: 80%;
      height: fit-content;

      P {
        font-family: $font-muli;
        font-size: 1em;
        text-align: justify;
      }
    }
  }
}

.about-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 52%;
}

.cover-container {
  height: 33vh;
  width: 23vw;
  object-fit: contain;
  img {
    height: 100%;
    width: 100%;
  }
}

// tablette
@media all and (min-width: 600px) and (max-width: 959px) {
  .about-container {
    height: 100%;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;

    .about-content {
      height: fit-content;
      width: 83%;

      .about-title {
        display: flex;
        justify-content: center;
        width: 100%;

        h1 {
          font-size: 2em;
          margin: 0;
          margin-top: 1rem;
        }
      }

      .about-me {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          font-size: 1.2em;
        }
      }
    }

    .cover-container {
      height: 17rem;
      width: 20rem;
      object-fit: contain;
    }
  }
}
// mobile
@media all and (min-width: 320px) and (max-width: 599px) {
  .about-portfolio {
    height: 93vh;
    width: 100%;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    .about-content {
      width: 83%;
      font-size: 0.8em;

      .about-title {
        display: flex;
        justify-content: center;
        width: 100%;

        h1 {
          font-size: 1.5em;
          margin: 0;
          margin-top: 1rem;
        }
      }

      .about-me {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .about-illustration {
      display: none;
    }
  }
}
