$blue-marin: rgb(15, 22, 38);
$golden-color: rgb(214, 159, 62);
$Bright-coral: rgb(245, 50, 64);

// font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

.contact-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: $blue-marin;

    h1 {
      margin: 0;
      text-align: center;
      font-size: 2rem;
      font-family: "Teko", sans-serif;
      color: #f53240;
    }
    label {
      font-family: $font-sans-source-pro;
      color: white;
    }

    .form-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40rem;

      .email-name-group {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        input {
          width: 10rem;
          margin: 8px 0;
          padding: 12px 20px;
          display: inline-block;
          font-family: $font-muli;
          background-color: $golden-color;
          border: none;
          border-radius: 4px;
          box-sizing: border-box;

          &::placeholder {
            color: white;
            font-family: $font-muli;
            font-size: 1em;
          }
        }
      }

      .subject-container {
        display: flex;
        justify-content: center;

        input {
          width: 28rem;
          margin: 8px 0;
          padding: 12px 20px;
          display: inline-block;
          font-family: $font-muli;
          background-color: $golden-color;
          border: none;
          border-radius: 4px;
          box-sizing: border-box;

          &::placeholder {
            color: white;
            font-family: $font-muli;
            font-size: 1em;
          }
        }
      }

      .message-container {
        height: 23rem;
        width: 100%;
        margin: 8px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        textarea {
          height: 22rem;
          width: 28rem;
          margin: 8px 0;
          font-family: $font-muli;
          background-color: $golden-color;
          border: none;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }

      .button-submit {
        margin-top: 1rem;
        width: 82%;
        display: flex;
        justify-content: flex-end;

        button {
          height: 3rem;
          background-color: #f53240;
          width: 6rem;
          border: 4px solid white;
          font-family: "Teko", sans-serif;
          font-size: 1.5rem;
          color: white;
        }
      }
    }
  }
}

.illustration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: $Bright-coral;

  .contact-illustration {
    height: 30rem;
    width: 30rem;
    object-fit: contain;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

// tablette
@media all and (min-width: 600px) and (max-width: 959px) {
  .contact-portfolio {
    height: 100vh;
    width: 92%;

    .contact-container {
      flex-direction: column;
      .form-container {
        width: 100%;

        .form-contact {
          .message-container {
            textarea {
              height: 16rem;
              width: 28rem;
            }
          }
        }
      }
    }

    .illustration-container {
      height: fit-content;
      width: 100%;
      .contact-illustration {
        height: 17rem;
        width: 17rem;
        object-fit: contain;
      }
    }
  }
}

@media all and (min-width: 320px) and (max-width: 599px) {
  .contact-portfolio {
    height: 91vh;
    .contact-container {
      flex-direction: column;
    }
  }

  .contact-container {
    .form-container {
      margin: 0.5rem;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 90%;

      label {
        text-align: left;
      }

      h1 {
        font-size: 1.5em;
      }

      .form-contact {
        height: fit-content;
        width: 100%;

        .email-name-group {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          input {
            width: 13rem;
          }
        }

        .subject-container {
          height: fit-content;
          width: 100%;
          input {
            width: 13rem;
          }
        }
        .message-container {
          height: fit-content;
          textarea {
            height: 9rem;
            width: 13rem;
          }
        }
        .button-submit {
          margin-top: 0rem;
          width: 100%;
          justify-content: center;

          button {
            height: 2rem;
            background-color: #f53240;
            width: 5rem;
            border: 4px solid white;
            font-family: "Teko", sans-serif;
            font-size: 1.2rem;
            color: white;
          }
        }
      }
    }
  }

  .illustration-container {
    display: none;
    .contact-illustration {
      height: 14rem;
      width: 14rem;
      object-fit: contain;
    }
  }
}
