$blue-marin: rgb(15, 22, 38);
$golden-color: rgb(214, 159, 62);
$Bright-coral: rgb(245, 50, 64);
// font
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

.list-projects-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 80%;
}

// tablette
@media all and (min-width: 600px) and (max-width: 959px) {
  .list-projects-container {
    height: fit-content;
    width: 90%;
  }
}
@media all and (min-width: 320px) and (max-width: 599px) {
  .list-projects-container {
    width: 90%;
  }
}
