$blue-marin: rgb(15, 22, 38);
$golden-color: rgb(214, 159, 62);
$Bright-coral: rgb(245, 50, 64);

// font
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

.header-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 8%;
  background-color: $golden-color;

  .home-link {
    position: relative;
    bottom: 8rem;
    z-index: 1;
    a {
      font-family: $font-teko;
      color: white;
      text-decoration: none;
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 6.5rem;
    height: 24.4rem;
    border-radius: 8px;

    .animation {
      position: absolute;
      height: 75px;
      width: 8%;
      top: 166px;
      z-index: 0;
      border-radius: 2px;
      background-color: $blue-marin;
      transition: all 0.5s ease 0s;
    }

    .start-home,
    a:nth-child(1) .animation {
      height: 75px;
      top: 40px;
    }

    .start-about,
    a:nth-child(2) .animation {
      height: 75px;
      top: 240px;
    }

    .start-skills,
    a:nth-child(3) .animation {
      height: 75px;
      top: 320px;
    }

    .start-projects,
    a:nth-child(4) .animation {
      height: 75px;
      top: 400px;
    }

    .start-contact,
    a:nth-child(3) .animation {
      height: 75px;
      top: 466px;
    }

    .nav-links {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 2rem;
      font-family: $font-teko;
      color: white;
      text-align: center;
      outline: none;
      text-decoration: none;
      object-fit: cover;

      &:hover {
        color: white;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .header-portfolio {
    height: 8vh;
    width: 100%;
    background-color: $golden-color;

    .home-link {
      position: inherit;

      a {
        font-size: 0.8em;
      }
    }

    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 24.4rem;

      .nav-links {
        height: fit-content;
        width: 1.4rem;
        font-size: 0.8em;
      }
    }

    .animation {
      display: none;
    }
  }
}
