$blue-marin: rgb(15, 22, 38);
$golden-color: rgb(214, 159, 62);
$Bright-coral: rgb(245, 50, 64);

// font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

.home-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.profile-container {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .picture-profile {
    height: 10rem;
    width: 10rem;
    object-fit: cover;

    img {
      border: 4px solid $golden-color;
      border-radius: 80px;
      height: 100%;
      width: 100%;
    }
  }
}

.intro-portfolio {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  /* background-color: #f53240; */
  height: 19rem;
  width: 33rem;
  text-align: left;
  padding-left: 3rem;

  h1 {
    font-family: "Teko", sans-serif;
    font-size: 3em;
    color: white;
    margin: 0;
  }

  p {
    font-family: $font-sans-source-pro;
    font-size: 2em;
    color: white;
  }
}

.contact-button {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    height: 4rem;
    background-color: $Bright-coral;
    width: 9rem;
    border: 4px solid white;
    font-family: "Teko", sans-serif;
    font-size: 2em;
    color: white;
  }
}

// tablette
@media all and (min-width: 600px) and (max-width: 959px) {
  .home-portfolio {
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;

    .intro-portfolio {
      align-items: center;
      text-align: center;
      padding: 0;
      width: 100%;
    }
    .profile-container {
      .picture-profile {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        img {
          border: 4px solid #d69f3e;
          border-radius: 80px;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

// mobile
@media all and (min-width: 320px) and (max-width: 599px) {
  .home-portfolio {
    display: flex;
    height: 88vh;
    width: 100%;
  }

  .profile-container {
    .picture-profile {
      height: 8rem;
      width: 8rem;
    }
  }

  .intro-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 100%;
    text-align: left;
    padding-left: 0rem;

    h1 {
      text-align: center;
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }
  }

  .contact-button {
    button {
      height: 3rem;
      width: 7rem;
      font-size: 1.5em;
    }
  }
}
