$blue-marin: rgb(15, 22, 38);
$golden-color: rgb(214, 159, 62);
$Bright-coral: rgb(245, 50, 64);

// font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

.modal-project {
  position: fixed;
  top: 20px;
  left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 88%;
  height: 43rem;
}

.modal-project#project-1 {
  .project-image {
    height: 22rem;
    width: 32rem;
  }
}
.modal-project#project-2 {
  .project-image {
    height: 22rem;
    width: 32rem;
  }
}

.header-modal {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  width: 100%;
  background-color: $blue-marin;

  .modal-project-title {
    height: 66%;
    text-align: center;
    color: white;
    border-bottom: 2px solid $Bright-coral;
  }
  .cover-modal-project {
    height: 10rem;
    width: 12rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .close-modal {
    height: 2rem;
    width: 2rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.project-main {
  height: 33rem;
  width: 100%;
  display: flex;

  .project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 50%;

    h2 {
      font-family: $font-teko;
      color: $Bright-coral;
      font-size: 1.5em;
    }
    .modal-resume-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .resume-content {
        display: flex;
        flex-direction: column;
        width: 30rem;
      }

      p {
        margin: 0;
        text-align: justify;
      }
    }
  }

  .tech-container {
    width: 30rem;
  }
}
.project-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.project-image {
  height: 22rem;
  width: 22rem;

  img {
    height: 100%;
    width: 100%;
  }
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  a {
    width: 10rem;
    height: 3rem;
    background-color: $Bright-coral;
    border: 4px solid $blue-marin;
    font-family: "Teko", sans-serif;
    font-size: 2em;
    color: white;
  }
}

.modal-project {
  position: fixed;
  top: 58px;
  left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 95%;
  height: 37rem;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .modal-project {
    top: 17px;
    left: 8px;
    width: 95%;
    height: 34rem;
  }

  .header-modal {
    height: 7rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: $golden-color;

    .modal-project-title {
      color: $blue-marin;
      h1 {
        margin: 0;
        font-family: $font-teko;
        font-size: 1em;
      }
      p {
        font-family: $font-teko;
        margin: 0rem;
        font-size: 0.8em;
      }
    }
    .cover-modal-project {
      display: none;
    }
  }

  .project-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project-description {
      height: 80%;
      width: 90%;
      .modal-resume-container {
        h2 {
          margin-top: 1rem;
          font-size: 1em;
        }

        p {
          font-family: $font-muli;
          font-size: 0.7em;
        }
      }
      .tech-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        h2 {
          font-size: 1em;
          margin-top: 1rem;
        }

        p {
          font-family: $font-muli;
          font-size: 0.7em;
          margin: 0;
        }
      }
      .modal-resume-container {
        .resume-content {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }

  .project-image {
    display: none;
  }

  .project-link {
    height: fit-content;
    width: 100%;
    .button-link {
      a {
        text-align: center;
        width: 5rem;
        height: 2rem;
        border: 2px solid #0f1626;
        font-size: 1.3em;
      }
    }
  }
}
