$blue-marin: rgb(15, 22, 38);
$golden-color: rgb(214, 159, 62);
$Bright-coral: rgb(245, 50, 64);

// font
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

.skills-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-evenly;
  height: 100vh;
  width: 100%;

  .skills-home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

.tech-skills-container {
  justify-content: space-between;
  width: 62rem;
  height: 30rem;
  display: flex;

  .tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27rem;
    height: 30rem;

    .tech-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      //   justify-content: center;
      width: 100%;

      h2 {
        font-family: $font-teko;
        font-size: 2em;
        color: $Bright-coral;
      }
      .technos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          display: FLEX;
          justify-content: space-between;
          flex-direction: column;
          padding-left: 1rem;
          height: 17rem;
        }

        li {
          list-style: none;
          div {
            font-family: "Muli", sans-serif;
            color: white;
            width: 6rem;
            background-color: $Bright-coral;
            padding: 0.3rem;
            border-radius: 50px;
            text-align: center;
          }
        }
      }
    }
  }

  .bar-1 {
    height: 100%;
    width: 1rem;
    background-color: $golden-color;
  }

  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 30rem;

    .skills-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      //   justify-content: center;
      width: 100%;

      .skills-title {
        width: 82%;
        display: flex;
        justify-content: center;
        h2 {
          font-family: $font-teko;
          font-size: 2em;
          color: $Bright-coral;
          width: 100%;
        }
      }

      .skills {
        height: 20rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
          display: flex;
          justify-content: space-evenly;

          text-align: left;
          flex-direction: column;

          height: 100%;

          li {
            font-family: $font-muli;
            font-size: 1em;
            color: white;
            list-style: none;
          }
        }
      }
    }
  }
}

.bar-2 {
  margin-top: 1rem;
  width: 80%;
  height: 1rem;
  background-color: $golden-color;
}

.soft-certification-container {
  display: flex;
  justify-content: space-evenly;
  width: 54rem;
  height: 12rem;
  margin-top: 1.5rem;

  h2 {
    color: $Bright-coral;
    font-family: $font-teko;
    font-size: 2em;
    margin: 0rem;
  }

  p {
    font-family: $font-muli;
    font-size: 1em;
    color: white;
  }

  .soft-skills-content {
    width: 27rem;
    display: flex;
    flex-direction: column;
  }

  .certification-container {
    .certification-content {
      height: 8rem;
      width: 20rem;
      display: flex;
      flex-direction: column;
    }

    .certification {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p {
        font-family: $font-muli;
        font-size: 1em;
        color: white;
        margin: 0;
      }

      .opquast-cover {
        display: none;
        height: 5rem;
        width: 5rem;
        object-fit: contain;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .bar-1 {
    display: none;
  }
  .bar-2 {
    display: none;
  }

  .skills-portfolio {
    height: fit-content;
    .skills-home-container {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .tech-skills-container {
    flex-direction: column;
    justify-content: space-between;
    height: 25rem;
    width: 100%;

    .tech-container {
      justify-content: flex-start;
      height: 14rem;
      width: 100%;

      .tech-content {
        height: 100%;

        h2 {
          text-align: center;
          font-size: 1em;
        }

        .technos {
          height: fit-content;
          flex-direction: row;
          ul {
            font-size: 0.7em;
            height: 100%;
          }
        }
      }
    }

    .skills-container {
      height: 10rem;
      width: 100%;

      .skills-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .skills-title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 2rem;

          h2 {
            text-align: center;
            margin: 0;
            font-size: 1em;
          }
        }

        .skills {
          height: fit-content;

          ul {
            font-size: 0.7em;
            justify-content: center;
            text-align: center;
            width: 60%;
            margin: 0;
            padding: 0;
          }
        }
      }
      .soft-skills-content {
        width: 100%;
      }
    }
  }

  .soft-certification-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 6rem;
    width: 100%;
    margin-top: 1rem;

    p {
      margin: 0rem;
    }

    h2 {
      text-align: center;
      font-size: 1em;
    }

    .soft-skills-content {
      height: fit-content;
      width: 100%;

      .soft-skills {
        text-align: center;
        font-size: 0.7em;
        width: 100%;
      }

      .skills {
        height: 7rem;
      }
    }

    .certification-container {
      display: flex;
      height: fit-content;
      width: 41%;
      align-items: center;

      .certification-content {
        text-align: center;
        height: fit-content;
        width: 100%;
        display: flex;

        .certification {
          font-size: 0.7em;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;

          p {
            width: 100%;

            font-size: 1em;
            color: white;
            margin: 0;
          }

          .opquast-cover {
            display: none;
          }
        }
      }
    }
  }
}
